/*
 * @title       fselect.css
 * @author   meihangbo
 * @email     meihangbo@126.com
 * @version  1.0
 * @update  2015-08-20
 */
dl,dt,dd{margin:0;padding:0;}
.fselectbox{position:relative;*zoom:1;z-index:99;background-color:#eee;margin-bottom:10px;margin-top:10px;}
.fselect{position:relative;border:1px solid #aaa;background-color:#fcfcfb;}
.fselect.desable,.fselect.desable .fselect_dt{background-color:#f1f1f1;}
.fselect_dt{position:relative;*zoom:1;padding-left:10px;margin-right:10px;overflow:hidden;cursor:pointer;font-size:14px;}
.fselect_arrow{background:#fff url('arrow_icon.png') right no-repeat;}
@-webkit-keyframes fsb-upbit{
  from{-webkit-transform:translate3d(0,30px,0);opacity:0.3;}
  to{-webkit-transform:translate3d(0,0,0);opacity:1;}
}
@keyframes fsb-upbit{
  from{transform:translate3d(0,30px,0);opacity:0.3;}
  to{transform:translate3d(0,0,0);opacity:1;}
}
.fselect_dd{position:absolute;display:none;left:-1px;background:#fff;width:100%;-webkit-animation-duration:0.3s;animation-duration:0.3s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-name:fsb-upbit;animation-name:fsb-upbit;}
.ie6iframe{position:absolute;left:-2px;top:0;z-index:-1;visibility:inherit;filter:"progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)";}
.fselect_options{position:relative;_zoom:1;border:1px solid #aaa;_margin-left:0;_left:0px;background:#fff;}
.fselect_ul{position:relative;*zoom:1;overflow:auto;list-style:none;padding:0;margin:0;}
.fselect_li{cursor:pointer;height:30px;line-height:30px;}
.fselect_li a{display:block;padding:0 10px;text-decoration:none;color:#333;font-size:14px;}
.fselect_li a:hover{background:#eee;}
.fselect_li.on a{background:#ccc;}
.fselect_arrow_1{background:#fff url('arrow_icon_1.png') right no-repeat;}